# Node modules
node_modules/

# Git folder
.git/

# VS Code settings
.vscode/

# Logs
*.log

# Build / coverage
coverage/
build/
dist/

# Mobile builds
android/
ios/
*.keystore

# Expo local settings
.expo/
